{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": ["error", {
      "optionalDependencies": true,
    }],
    "react/jsx-filename-extension": 0,
    "react/sort-comp": ["error", {
      "order": [
        "static-methods",
        "instance-variables",
        "lifecycle",
        "everything-else",
        "render",
      ]
    }]
  }
}
